button {
    background-color: transparent;
    border: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    height: 80px;
    box-shadow: rgb(0 0 0 / 8%) 0 1px 0;
}

#logo {
    height: 64px;
    cursor: pointer;
}

#little_search {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 0 8px; */
    border: 1px solid #dddddd;
    border-radius: 30px;
    min-width: 335px;
    height: 48px;
    box-sizing: border-box;
    box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
    cursor: pointer;

    transition: box-shadow 0.2s ease-out;
}

#little_search:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

#little_search * {
    cursor: pointer;
}

.little_search_button {
    display: block;
    flex-shrink: 0;
    padding: 0 16px;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 600;
    color: rgb(34, 34, 34);
}

.little_search_button:nth-of-type(3) {
    color: #717171;
}

.divider {
    display: block;
    flex-basis: 1px;
    flex-shrink: 0;
    background-color: #dddddd;
    height: 24px;
}

#magnifying-glass-wrapper {
    background-color: #ff385c;
    border-radius: 50%;
    flex-basis: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

#magnifying-glass-icon {
    width: 12px;
}

#header-right-section {
    display: flex;
    align-items: center;
    gap: 8px;
}

#do-airbnb {
    font-size: 14px;
    color: #222222;
    font-weight: 600;
    cursor: pointer;
    border-radius: 22px;
    padding: 15px;

    transition: background-color 0.3s ease-out;
}

#do-airbnb:hover {
    background-color: #f7f7f7;
}

#profile-sction {
    display: flex;
    align-items: center;
    padding: 5px 5px 5px 12px;
    border: 1px solid #dddddd;
    border-radius: 21px;
    gap: 12px;
    cursor: pointer;

    transition: box-shadow 0.2s ease-out;
}

#profile-sction:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

#category-bar {
    display: flex;
    gap: 32px;
    padding: 20px 40px;
    overflow: auto;
}

#category-bar::-webkit-scrollbar {
    display: none;
}

.category-button {
    color: #717171;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
}

.category-button > img {
    width: 28px;
}

.category-button > .active_img {
    display: none;
}
.category-button:hover > .inactive_img {
    display: none;
}
.category-button:hover > .active_img {
    display: inherit;
}

.category-button:hover {
    color: #000000;
    border-bottom: 2px solid #dddddd;
}

#active-category {
    color: #000000;
    border-bottom: 2px solid #dddddd;
}

#active-category:hover > .inactive_img {
    display: none;
}
#active-category:hover > .active_img {
    display: inherit;
}

.place-image-wrapper {
    position: relative;
    width: 308px;
    height: 293px;
    overflow: hidden;

    border-radius: 23px;
}

.place-image-wrapper img {
    /* width: 500px;
    height: 500px; */
    width: 100%;
    height: 100%;
}

.place-image-wrapper .heart-icon {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.description-section {
    display: flex;
    flex-direction: column;
    color: rgb(34, 34, 34);
    font-size: 15;
    gap: 3px;
    margin-top: 13px;
}

.description-section-title {
    font-weight: 600;
}

main {
    display: flex;
    justify-content: center;
    padding: 0 80px;
}
.place-items-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 308px);
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    gap: 40px 24px;
}

.heart-icon:active {
    transform: scale(0.5);
    transition: transform 0.25s ease;
}

#floating-map-button {
    position: fixed;
    background-color: #222222;
    border-radius: 24px;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 14px 19px;
    gap: 8px;

    cursor: pointer;
}

#floating-map-button:hover {
    box-shadow: 0 0 0 1px transparent, 0 0 0 4px transparent,
        0 6px 16px rgba(0, 0, 0, 0.12);
    transform: translateX(-50%) scale(1.04);
}
